body {
    background-color: gainsboro;
    font-family: sans-serif;
}
.card {
    margin: 5% auto;
    text-align: center;
    padding: 1.5rem;
    width: 400px;
    border-radius: 1rem;
    background-color: white;
}
.info{
    text-align: start;
}
.inputs{
    font-size: 0.6rem;
}
.inputs:hover{
    color: #6333ff;
}
.op{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid #6333ff;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.btn{
    margin: 0.9rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #6333ff;
    width: 15rem;
    color: white;
}