body{
    background-color: gainsboro;
    font-family: sans-serif;
}
.card{
    margin: 10% auto ;
    text-align: center;
    padding: 1.5rem;
    width: 21rem;
    border-radius: 1rem;
    background-color: white;
}
.line{
    color: gray;
    font-size: 0.9rem;
}
.button{
    border: none;
    background-color: white;
    text-align: start;
    width: 17rem;
    height: 2.5rem;
}
.button:hover {
    background-color: gainsboro;
    border-radius: 0.5rem;
}
.endline{
    color:darkgrey;
    font-size: 0.7rem;
    text-align: start;
    margin: 2rem;
}